@import "../mainStyles";

.header {
  display: flex;
  flex-direction: row;
  font-family: "Oswald", sans-serif;
  z-index: 4;
  position: absolute;
  top: 35px;

  .nav {
    display: flex;
    justify-content: space-between;
    width: 200px;


    li {
      width: 100%;
      position: relative;

      .contact-link {
        max-width: 123px;
      }

      .link {
        color: var(--clr-white);
        font-size: 2.5em;
        position: relative;
        cursor: pointer;
        user-select: none;
        mix-blend-mode: exclusion;
        @include linkHoverAnimation;



        &:visited {
          color: var(--clr-white);
        }
      }
    }
  }

  @include bp(s) {

    height: auto;
    width: auto;
    padding: $paddingSmall;
    flex-direction: column !important;
    justify-content: space-evenly;
    position: relative;
    color: var(--clr-white);


    .nav {
      display: flex;
      justify-content: space-between;
      top: 0;
      left: 50%;
      width: auto;
      position: absolute;
      flex-direction: column;

      li {
        margin-bottom: 30px;
        position: relative;


        .link {
          color: var(--clr-white);
          font-size: 4.2em;
          position: relative;
          cursor: pointer;
          user-select: none;

          @include linkHoverAnimation;

          &:visited {
            color: var(--clr-white);
          }
        }
      }
    }

  }
}

.rodal {
  .rodal-dialog {
    @include frost;
    background: var(--clr-black);
    opacity: 0.8;
    border-radius: $radiusNormal;

    h3 {
      color: var(--clr-white);
      margin-bottom: $marginSmall;
      font-size: 3rem;
    }

    .rodal__info {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      span {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        margin-right: $marginXLarge;

        &::before {
          content: "";
          background: var(--clr-red);
          width: 0;
          height: 20px;
          z-index: -1;
          left: 0;
          bottom: 0;
          display: block;
          transition: all 0.5s ease-in-out;
          position: absolute;
        }

        &:hover::before {
          width: 100%;
          height: 20px;
        }

        a {
          font-size: 2rem;
          color: var(--clr-white);
        }
      }
    }
  }
}