@import "../mainStyles";

.projects {
  position: relative;
  // background: url("https://images.unsplash.com/photo-1512205908084-f43bea685ff1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80");
  // background: url("https://images.pexels.com/photos/3184460/pexels-photo-3184460.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");

  background-size: cover;
  background-position: center;
  padding: 10rem;
  height: 100vh;
  display: flex;
  justify-content: space-around;
}

.projects__backButton {
  position: absolute;
  font-size: 5.5rem;
  top: 50%;
  transform: translateY(-50%);
  left: 2rem;
  color: white;

  &:hover {
    color: var(--clr-red);
  }
}
