@import "../mainStyles";


.projects {}

.projects__backButton {
  position: absolute;
  font-size: 5.5rem;
  top: 50%;
  transform: translateY(-50%);
  left: 2rem;
  color: white;

  &:hover {
    color: var(--clr-red);
  }
}