@import "../mainStyles";

.project__slide {
  height: 65vh;
  width: 80rem;
  display: flex;
  position: relative;
  margin: $marginSmall;
  min-height: 50vh !important;
  cursor: pointer;


  // margin-top: 50vh !important;
  // padding-bottom: auto !important;
  // transform: translateY(-50%) !important;


  .project__slideElementContent {
    border-radius: $radiusNormal;
    @include frost;
    display: flex;
    padding: $paddingXLarge;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 500;
    width: 100%;
    height: 100%;

    img {
      box-shadow: $shadow;
      border-radius: $radiusSmall;
      min-width: 50%;
      max-width: 50% !important;
      height: 100%;
      object-fit: cover;
    }

    .project__slideElementContentText {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-left: $marginLarge;
      position: relative;
      height: 100%;
    }

    h1 {
      position: relative;
      top: 25%;
      font-size: 5.5rem;
      color: var(--clr-black) !important;
      margin-bottom: $marginXLarge;

      @include bp(m) {
        width: 100%;
        max-width: 225px;
      }

      @include linkHoverAnimation;

    }

    p {
      font-size: 1.6rem;
      color: var(--clr-black);
    }
  }
}

div.swiper-container.swiper-container-coverflow.swiper-container-3d.swiper-container-initialized.swiper-container-horizontal {
  // height: 100vh !important;
  // background: red !important;
  transform: translateY(4%);
  padding-top: 100px;


  div.swiper-slide.project__slide.swiper-slide-next,
  div.swiper-slide.project__slide.swiper-slide-prev {
    width: 500px !important;
    transform: translate3d(0px, 0px, -47.122px) rotateX(0deg) rotateY(-19.4878deg);
    transition-duration: 1s;
  }

  div.swiper-pagination.swiper-pagination-bullets {
    transform: translateY(-100px);
    transition: all 0.5s ease-in-out;

  }

  div.swiper-pagination.swiper-pagination-bullets span.swiper-pagination-bullet {
    background: white;
    opacity: .7;

  }

  div.swiper-pagination.swiper-pagination-bullets span.swiper-pagination-bullet-active {
    background: var(--clr-red);
    opacity: .7;
    width: 12px;
    height: 12px;
  }

}